@import './breakpoints.scss';
@import './price-page.scss';
@import './variables.scss';

* {
  box-sizing: border-box;
}
body {
  background-color:#141b1c;
  height: 1000px;
  color: #ffffff;
}
div {
  background-color:#334247;
  max-width: 380px;
  max-height: 770px;
}

