.main-price {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @include for-large-down {
    flex-direction: column;
  }
}

.price-card {
  margin: 65px 0px;

  &__title {
    width: 176px;
    height: 64px;
    text-align: center;
    line-height: 43px;
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: 700;
    font-style: normal;
    margin: 33px 102px;
  }

  &__price {
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
  }

  &.two {
    margin: 65px 15px;
    position: relative;
    overflow: hidden;
  }
}

.little__title {
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  font-style: normal;
}
.one-colum {
  background-color: #5bb189;
}
.two-colum {
  background-color: #3a6ba5;
}
.three-colum {
  background-color: #ec632a;
}
.label__container {
  position: absolute;
  width: 122px;
  height: 123px;
  overflow: hidden;
  top: -18px;
  right: -18px;
  display: flex;
  justify-content: center;
  align-items: center;

  .label {
    background-color: #dc3f45;
    text-transform: uppercase;
    color: #ffffff;
    transform: rotate(45deg);
    text-align: center;
    height: 25px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    flex-basis: 200%;
    flex-shrink: 0;
  }
}

.text-content {
  width: 327px;
  height: 36px;
  margin: 40px 26px;
  font-size: 15px;
  font-weight: 300;
  font-family: 'Montserrat';
  color: #ffffff;
  text-align: center;
  font-style: normal;
}
.price-card__options-list {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  font-weight: 300;
  font-family: 'Montserrat';
  color: #ffffff;
  font-style: normal;
}
.price-card.two .price-card__options-list:nth-child(odd),
.price-card__options-list:nth-child(even) {
  background-color: #2a3438;
}
.price-card.two .price-card__options-list:nth-child(even),
.price-card__options-list:nth-child(odd) {
  background-color: transparent;
}
.ticket-img {
  width: 15px;
  height: 13px;
  margin-right: 22px;
  margin-left: 22px;
}
.content-button {
  background-color: #5bb189;
  border: none;
  border-radius: 20px;
  width: 154px;
  height: 40px;
  margin: 40px 112px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  font-family: Montserrat;

  &.two-button {
    background-color: #3a6ba5;
  }

  &.three-button {
    background-color: #ec632a;
  }
}
