$background-color-dark: #141b1c;
$background-color-grey: #334247;
$background-color-green: #5bb189;
$background-color-blue: #3a6ba5;
$background-color-orange: #ec632a;
$background-color-dark-grey: #2a3438;

$text-color-white: #ffffff;